{% extends 'EnstbVisplatBundle::layout.html.twig' %}
{% block graph %}
    <!-- Pie Chart -->
    <script src="{{ asset('bundles/enstbvisplat/js/piechart.js') }}"></script>
    <div id="piechart"></div>
	<div id="piechartTable"></div>
    <script>createPieChart({{ jsonDataPieChart|json_encode|raw }})</script>
	<!-- Gantt Chart -->
	<script src="{{ asset('bundles/enstbvisplat/js/ganttchart.js') }}"></script>
	<div id="ganttchart"></div>
	<script>createGanttChart({{ jsonDataGanttChart|json_encode|raw }})</script>
{% endblock %}
