{% extends 'EnstbVisplatBundle::base.html.twig' %}
{% block body %}
    <div class="navbar navbar-inverse vp-navbar" role="navigation">
        <p class="navbar-text navbar-right vp-navbar-text">Signed in as <a href="#" class="navbar-link">LVarayut</a></p>
    </div>
    <div id="vp-navbar-fix-wrapper">
        <div class="navbar navbar-default" id="vp-navbar-fix">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Visualization Platform</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="{{ path('enstb_visplat_homepage') }}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADLs<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Status</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Time consuming</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Activity schedule</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">History<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Status</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Time consuming</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Activity schedule</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sensors<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Status</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Time consuming</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Activity schedule</a></li>
                            </ul>
                        </li>
                    {#<form class="navbar-form navbar-right">#}
                        {#<div class="form-group">#}
                            {#<input type="text" placeholder="Email" class="form-control">#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#<input type="password" placeholder="Password" class="form-control">#}
                        {#</div>#}
                        {#<button type="submit" class="btn btn-success">Sign in</button>#}
                    {#</form>#}
                </div><!--/.navbar-collapse -->
            </div>
        </div>
    </div>
    {% block graph %}{% endblock %}
    <hr>
    <footer>
        <p>&copy; Telecom-Bretagne 2013</p>
    </footer>

{% endblock %}

