/* Navbar */
.vp-navbar{
    margin-bottom: 0;
    border-radius: 0;
    min-height: 35px;
}
.vp-navbar-text{
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: 10px !important;
    padding: 0;
}

#vp-navbar-fix.affix {
    position: fixed;
    top: 0;
    width: 100%
}

/* Login form*/

.vp-login-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eee;
}
.vp-form-login{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.vp-form-title{
    text-align: center;
}

.vp-form-alert{
    padding: 7px;
    margin-bottom: 10px;
    font-size: 80%;
}